/********************************************************************************************

Simple v1.0.2 by Jason Schuller (Jason.sc)
Copyright Circa75 Media, LLC (Circa75.co)

Modified by Hennek (me@hennek.be)
See more on https://github.com/hennek/dropplets

*********************************************************************************************/

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather Light'), local('Merriweather-Light'), url(../fonts/ZvcMqxEwPfh2qDWBPxn6nmFp2sMiApZm5Dx7NpSTOZk.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), url(../fonts/RFda8w1V0eDZheqfcyQ4EHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(../fonts/ZvcMqxEwPfh2qDWBPxn6nnl4twXkwp3_u9ZoePkT564.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../fonts/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(../fonts/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format('woff');
}

/* Normalization
*********************************************************************************************/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

/* Setup
*********************************************************************************************/

body {
	background: #ffffff;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 27px;
	color: #404040;
	text-rendering: optimizeLegibility;
}

/* Typography
*********************************************************************************************/

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
	color: #303030;
	margin-bottom: 15px;
	max-width: 90%;
}

h1, h2, h3, h4 {
    font-size: 24px;
    line-height: 40px;
}

h3, h4 {
    margin-top: 20px;
}

p, ul, ol {
    margin: 0 0 20px;
}

ul, ol {
    margin-left: 40px;
}

ul li {
    list-style: disc;
}

ol li {
    list-style: decimal;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

a {
    color: #000000;
    text-decoration: none;
    -moz-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
}

a:hover, a:focus {
    color: #000000;
}

code, pre {
    font-family: 'Source Sans Pro', monospace;
    text-rendering: optimizeLegibility;
    font-size: 18px;
    letter-spacing: 0.1em;
    margin: 0 0.1em;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    padding-left: 3px;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: none;
}

.alert { color: red; }
.active { color: red; }

/* Posts
*********************************************************************************************/

article {
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    padding: 60px 0;
    text-align: justify;
}

article:last-child,
article.single {
    border-bottom: 0;
}

.footnotes {
    margin-top: 4em;
    margin-bottom: 2em;
    clear: both;
}

footer {
    clear: both;
    border-top: 1px solid #f1f1f1;
    margin-top: 32px;
    padding-top: 8px;
    width: 100%;
    color: rgb(179, 179, 177);
    font-size: 0.9em;
}

.post blockquote {
    border-left:.5em solid #eee;
    padding: 0 2em;
    margin-left:0;
    max-width: 476px;
}

.post blockquote  cite {
    font-size:14px;
    line-height:20px;
    color:#bfbfbf;
}

.post blockquote cite:before {
    content: '\2014 \00A0';
}

.post blockquote p {
    color: #666;
    max-width: 500px;
}

.post p a,
.post ul a,
.post ol a {
    border-bottom: 1px solid #ebebeb;
}

.post p,
.post ul,
.post ol {
    max-width: 85%;
}

.post img {
    max-width: 100%;
}

/* Buttons
*********************************************************************************************/

.button {
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    border-radius: 40px;
    color: #9b9b9b;
    float: left;
    margin: 0px 10px 10px 0px;
    padding: 8px 20px 9px;

}

.button.small {
    padding: 0px 12px 1px;
    float: right;
    margin: 5px 0 3px 0;
}

.button:hover {
    color: #9b9b9b;
    text-shadow: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

ul.actions {
    width: 100%;
    float: left;
    margin: 0;
}

ul.actions li {
    width: 100%;
    margin-top: 3px;
    list-style: none;
    text-align: left;
}

/* Meta
*********************************************************************************************/

.meta {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 300;
    color: #b3b3b1;
    text-align: right;
}

.meta ul {
    border-right: 1px solid #ebebeb;
    width: 100%;
    float: right;
    margin-right: 14px;
    padding: 20px 0 26px;
    position: relative;
}

.meta ul li {
    list-style: none;
}

.meta ul li span {
    color: #ebebeb;
}

.meta ul li:after {
    color: #ebebeb;
    content: " -";
}

.meta ul li:last-child {
    border-radius: 50%;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    position: absolute;
    width: 10px;
    height: 10px;
    right: -6px;
    bottom: -6px;
}

.meta ul li:last-child:after {
    content:"";
}

.meta ul li:first-child {
    font-weight: 400;
}

.meta a {
    color: #b3b3b1;
}

.meta a:hover {
    color: #303030;
}

.thumbnail img {
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 5px;
    float: right;
    margin-right: -21px;
    -moz-transition-duration: 0.05s;
    -webkit-transition-duration: 0.05s;
}

/* Description of the blog
*********************************************************************************************/

article.home {
    background: rgba(0, 0, 0, 0.01);
    border-bottom: 2px solid #f1f1f1;
    padding: 40px 0 20px;
    margin: auto;
}

article.home .row {
    width: 70%;
    float: none;
    clear: both;
}

article.home .meta {
    display: block;
    float: none;
    margin: 0;
    padding: 0;

    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}

article.home .post {
    display: block;
    float: none;
    margin: 0;
    padding: 0;

    width: 100%;
}

article.home .thumbnail {
    display: block;
    text-align: center;
    float: none;
    width: 100%;
}

article.home .thumbnail img {
    float: none;
    width: 100px;
    height: 100px;
    margin: auto;
}

article.home .post p {
    max-width: 100%;
    text-align: center;
}

article.home .post h2 {
    max-width: 100%;
    text-align: center;
    margin-bottom: 8px;
}

.post-social {
    text-align: center;
}

.post-social span a {
    border: none;
    color: rgb(185, 185, 185);
    padding: 0px 0px;
}

article.draft {
    display: none;
}

/* Social media
*********************************************************************************************/

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    position: relative;

    width: 48px;
    height: 48px;
    line-height: 48px;

    vertical-align: text-top;
    background-image: url("../images/sprite.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    opacity: 0.8;
}

[class^="icon-"]:hover, [class*=" icon-"]:hover { opacity: 1; }
.icon-twitter { background-position: -96px 0px; }
.icon-facebook { background-position: -144px 0px; }
.icon-google { background-position: 0px 0px; }
.icon-flattr { background-position: -48px 0px; }
.icon-rss { background-position: -192px 0px; }

/* Powered by Dropplets
*********************************************************************************************/

.powered-by {
    border-radius: 3px;
    background-color: #000000;
    color: #ffffff;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 12px;
    position: fixed;
    display: block;
    padding: 2px 10px;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 0.3;
}

.powered-by:hover {
    color: #ffffff;
    opacity: 0.8;
}

.powered-by img {
    height: 15px;
    float: left;
    margin: 5px 5px 0 -2px;
}

/* XL
*********************************************************************************************/

@media (max-width: 980px) {

    /* Buttons
    *****************************************************************************************/

    .button {
        font-size: 12px;
        line-height: 17px;
        padding: 8px 20px 9px;

    }

    ul.actions li {
        float: left;
    }

    /* Meta
    *****************************************************************************************/

    .meta {
        font-size: 12px;
        line-height: 17px;
    }

}

/* L
*********************************************************************************************/

@media (max-width: 820px) {

    /* Setup
    *****************************************************************************************/

    body {
    	font-size: 14px;
    	line-height: 23px;
    }

    /* Typography
    *****************************************************************************************/

    h1, h2 {
        font-size: 18px;
        line-height: 29px;
    }

    h3, h4 {
        font-size: 14px;
        line-height: 23px;
    }

    p {
        max-width: 100%;
    }

}

/* M
*********************************************************************************************/

@media (max-width: 640px) {

    /* Meta
    *****************************************************************************************/

    .meta {
        display: none;
    }

    /* Posts
    *****************************************************************************************/

    .post p,
    .post ul,
    .post ol {
        max-width: 100%;
    }

}

/* XS
*********************************************************************************************/

@media (max-width: 400px) {

    /* Articles
    *****************************************************************************************/

    article {
        padding: 40px 0;
    }


}



/* Normal
*********************************************************************************************/

.row {
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}

.row .one-quarter, .row .three-quarters {
    float: left;
    min-height: 1px;
    padding: 0 20px;
}

.row .one-quarter {
    width: 245px;
}

.row .three-quarters {
    width: 815px;
}

/* XXL
*********************************************************************************************/

@media (max-width: 1160px) {

    .row {
        width: 1000px;
    }

    .row .one-quarter {
        width: 200px;
    }


    .row .three-quarters {
        width: 680px;
    }

}

/* XL
*********************************************************************************************/

@media (max-width: 980px) {

    .row {
        width: 780px;
    }

    .row .one-quarter {
        width: 155px;
    }

    .row .three-quarters {
        width: 545px;
    }

}

/* L
*********************************************************************************************/

@media (max-width: 820px) {

    .row {
        width: 700px;
    }

    .row .one-quarter {
        width: 200px;
    }

    .row .three-quarters {
        width: 410px;
    }

}

/* M
*********************************************************************************************/

@media (max-width: 640px) {

    h2 {
        margin-top: 2em;
    }

    .row {
        max-width: 90%;
        margin: auto;
        display: block;
    }

    .row .one-quarter,
    .row .three-quarters {
        width: 100%;
        padding: 0 0;
    }

}
